{%- if pagename != "search" %}
<div id="tzs_search_box" class="tzs-widget">
	<form action="{{ pathto('search') }}" method="get" class="tzs-searchform">
	 <div class="form-group">
	  <input type="text" name="q" class="form-control" placeholder="Search" />
	 </div>
	  <input type="hidden" name="check_keywords" value="yes" />
	  <input type="hidden" name="area" value="default" />
	</form>
</div>
{%- endif %}
<div id="tzs_side_box_1" class="tzs-widget" style="min-height:165px; padding-top:16px;padding-bottom:16px;">
	<a class="with-img" href="https://tezos.com/"><img class="logo img-sm" src="{{ pathto('_static/images/logo.png', 1) }}"/></div>
</div>
<div id="tzs_side_box_2" class="tzs-widget" style="min-height:165px; padding-top:16px;padding-bottom:16px;">
	<a class="with-img" href="https://decet.io/"><img class="logo img-lg" src="{{ pathto('_static/images/Bitmap.png', 1) }}"/></div>
</div>

{%- if render_sidebar %}
	{%- for sidebartemplate in sidebars %}
	<div class="tzs-widget">
	  {%- include sidebartemplate %}
	</div>
	{%- endfor %}
{%- endif %}
