body {
  font-family: 'Roboto' !important;
  background-image: url("../images/background-200.png");
  background-size: 1500px;
  padding-top: 60px;
  background-attachment: fixed;
  line-height: 1.9em;
  color: #666;
  font-size: 1.5em;
}
p{
  margin-bottom: 1.8rem;
}
hr {
  border-top: 2px solid #d799a2
}

h1 {
  font-family: 'Open Sans Condensed Bold', sans-serif;
  font-weight: bold;
  color: #555;
  line-height: 1.5em;
  font-size: 2.5rem;
  margin-bottom: .5em;
  margin-top: 0rem;
}

h2 {
  font-family: 'Open Sans Condensed Bold', sans-serif;
  font-weight: 500;
  color: #555;
  line-height: 1.5em;
  font-size: 2.1rem;
  margin-bottom: .8rem;
  margin-top: 0rem;
}

h3 {
  font-family: 'Open Sans Condensed Bold', sans-serif;
  font-weight: 600;
  color: #555;
  line-height: 1.5em;
  font-size: 1.8rem;
  margin-bottom: .8rem;
  margin-top: 0rem;
}

pre {
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 0px;
  border-style: solid;
  border-width: 0px 0px 2px 2px;
  border-color: black black black silver;
  background-color: #6c7d9a;
  color: white !important;
}

.n, .o, .p, .mf, .mi, .s1, .s2, .nb, .k, .kn, .nn, .ow {
  color: white !important;
  font-weight: normal !important;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: black;
  background-color: #bfe0ff;
}

div.related ul {
  margin: 0;
  padding: 0 0 0 3px;
  list-style: none;
}

ul{
   margin-bottom: 1.8rem
 }

.logo {
  display: block;
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.img-lg {
  width: 120px;
  height: auto;
  margin-left: 18px;
}

.img-sm {
  width: 120px;
  height: auto;
  margin-left: 20px;
}

.with-img {
  position: relative;
  height: 165px;
}

article {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 50em
}

.tzs-content-inner {
  background: #ffffff;
  border-radius: 5px;
  border: 3px solid #d799a2;
  padding: 16px;
}

.tzs-widget {
  background: #ffffff;
  border-radius: 5px;
  border: 3px solid #d799a2;
  margin-bottom: 30px;
}

@media screen and (max-width: 490px) {
  .tzs-content-inner {
    word-wrap: break-word;
  }
}

.tzs-content-inner .related {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.tzs-sidebar {
  background: none;
  margin-top: 0;
  padding-top: 0;
}

.tzs-sidebar2 {
  background: none;
  margin-top: 0;
  padding-top: 0;
  max-height: none !important;
  overflow: visible !important;
}

.bs-sidenav.affix {
  position: fixed;
  max-width: 263px;
}

.fa-chevron-down {
  float: right;
  transform: rotate(0deg);
  color: #222831;
}

.fa-chevron-down.close {
  color: black !important;
  transform: rotate(-90deg);
}

.fa-chevron-down:before {}

.tzs-sidenav li ul {
  display: none;
  font-family: 'Open Sans' !important;
}

.caption-text {
  color: white;
  background-color: none;
  border: none;
  text-decoration: none;
  text-align: left;
  font-size: 1.1em;
  font-weight: normal;
  font-family: -apple-system;
  padding-top: 16px;
  padding-bottom: 16px;
  text-shadow: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  font-family: 'Open Sans Condensed Bold', sans-serif;
}

.caption {
  background-color: #bbb;
  padding-top: 6px;
  padding-bottom: 4px;
  margin: 0px !important;
  width: 100%;
  position: relative;
}

.bs-sidenav .nav .nav>li>a {
  padding-top: 8px;
  padding-bottom: 8px;
}

.bs-sidenav .nav .nav>li>a:hover {
  background: #aaa;
}

.tzs-sidenav li a {
  border: none;
  text-decoration: none;
  text-align: left;
  font-size: 1.4rem;
  font-weight: normal;
  font-family: -apple-system;
  padding-top: 16px;
  padding-bottom: 16px;
  text-shadow: none;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: 'Open Sans' !important;
}

.tzs-sidenav li.has-sub-nav>a {
  line-height: 18px;
  font-weight: normal;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 1.4rem;
}

.tzs-sidenav li.has-sub-nav>a:hover {
   background-color: #aaa !important;
}
.tzs-sidenav li.has-sub-nav>a:visited{
   background-color: #white !important;
}

.tzs-sidenav li.has-sub-nav {
  text-align: left;
  text-transform: none;
  background: Transparent no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 1.4rem;
}

.bs-sidenav .nav .nav>li>a {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 80%;
  font-weight: bolder;
  line-height: 22px;
  background-color: #ddd;
}

.tzs-sidenav li a:hover {
  background: #ccc;
  color: white;
}

.bs-sidenav .tzs-searchform {
  padding: 5px;
}

.bs-sidenav .tzs-searchform .form-group {
  padding: 0px;
  margin: 0px;
}

#tzs_side_box_1,
#tzs_side_box_2 {
  max-height: 165px !important;
  max-width: 165px !important;
  border-radius: 100px;
}

#tzs-hamburger-menu-icon-box {
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  margin: 0;
  border: 0px solid red;
  position: absolute;
  right: 20px;
  top: -50px;
}

#tzs-hamburger-menu-icon-box img {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  #tzs-hamburger-menu-icon {
    display: block !important;
  }

  #sidebar2 {
    width: 263px;
    display: none;
  }

  #sidebar {
    display: none;
  }
}

#sidebar2.sidebar2-mobile {
  position: fixed;
   !important;
  top: 60px;
  right: 0px;
  max-height: 1000px;
}

#sidebar2.sidebar2-mobile.expand {
  display: block;
}

.hidden {
  display: none;
}

.tzs_sidebar2_col_as_last {
  padding-right: 0px;
}

.footer {
  margin: 0 20px 0 20px;
  border-top: 2px solid #d799a2;
  width: auto;
}

a {
  color: #b76f7a;
}

p.pull-right {

}
#tzs_side_box_1:hover, #tzs_side_box_2:hover {
  transition-timing-function: ease-in;
  background-color: #bfe0ff;
}
#tzs_side_box_1, #tzs_side_box_2 {
  transition: 0.3s;
}
